html, body {
    overflow-x: hidden;
}

* {
    color: #fefffd;
    margin: 0;
    text-align: center;
    font-family: sans-serif;
}

input {
    color: #cecece;
    background-color: #515151;
    border-color: #515151;
    border-style: solid;
    border-radius: 4px;
    display: block;
    margin: auto;
}

img {
    object-fit: cover;
}

#link-buttons {
    display: flex;
    justify-content: center;
}

button {
    margin: 0 10px 0 10px;
    border-color: #515151;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    width: 48px;
    height: 48px;
    background-color: #2a2a2a;
}

button:hover, input:hover {
    border-color: #bf3835;
}

button:active {
    background-color: #333232;
}

button > img {
    margin: auto;
}

.upper, .lower {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 18vw;
    height: 18vw;
    overflow: hidden;
}

.upper > img, .lower > img {
    transition: transform 300ms ease-in-out;
}

.upper > img:hover, .lower > img:hover {
    transform: scale(1.1);
}

.upper > h2, .lower > h2 {
    margin-top: 16px;
}

.upper > p, .lower > p {
    color: white;
    font-weight: 500;
}

#work-page {
    background-color: #f2000a;
    padding-bottom: 120px;
}

header {
    padding-bottom: 20px;
    padding-top: 80px;
}

header > p {
    font-weight: lighter;
}

#works {
    background-color: #ff4f50;
    display: grid;
    grid-template-columns: 36vw 36vw;
    grid-template-rows: 36vw 36vw 36vw 36vw;
    grid-auto-flow: column;
    margin: auto;
    width: 72vw;
}

#works > div {
    width: 36vw;
    height: 36vw;
}

#analysis-page {
    background-color: #1286bf;
    padding-bottom: 10px;
}

#analysis-page > p {
    color: #e2ffff;
}

#spoiler-btn {
    margin-top: 10px;
    background-color: #1286bf;
    border-color: white;
    border-width: 2px;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    font-weight: 900;
    font-family: "Monaco", monospace;
    transition: transform 300ms ease-in-out;
}

#spoiler-btn:hover {
    transform: scale(1.1);
}

#spoiler-btn > img {
    filter: invert(100%);
    transform: rotate(180deg);
    width: 18px;
    height: 18px;
}

.upper-triangle {
    width: 0;
    height: 0;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    border-bottom: 24px solid white;
    margin: auto;
}

#analysis-input {
    background-color: white;
    width: 70%;
    padding: 0 48px 0 48px;
    margin: auto;
    position: relative;
    transition: opacity 500ms ease-in-out;
    visibility: hidden;
    max-height: 0;
    opacity: 0;
}

#analysis-input > p {
    color: #797979;
    hyphens: auto;
    margin-bottom: 32px;
}

#analysis-input > form > input {
    background-color: white;
    color: #797979;
    font-size: large;
    font-weight: 300;
    border-width: 1px;
    border-color: #d8d8d8;
    padding: 16px 25px 16px;
    text-align: left;
    width: 60%;
    margin-bottom: 8px;
}

#analysis-input > form > input:hover {
    border-color: #bf3835;
}

#analysis-input > form > input:invalid:active, #analysis-input > form > input:invalid:focus {
    border: 2px dashed red;
}

#analysis-input > button, #analysis-input > form > input[type="submit"] {
    margin-top: 28px;
    background-color: #ff140c;
    color: white;
    font-weight: bold;
    border-color: #ff140c;
    border-width: 2px;
    text-align: center;
    width: 80%;
}

#analysis-input > form > input[type="submit"]:active {
    background-color: darkred;
}

#analysis-input > form > input[type="submit"]:hover {
    border-color: #bf3835;
}

#analysis-input > form > input[type="submit"]:active {
    background-color: #bf3835;
}

#analysis-input > .close-btn {
    font-size: 17px;
    padding: 0;
    margin: auto;
    background-color: #ff140c;
    border-color: white;
    border-width: 1px;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    position: absolute;
    top: -18px;
    right: -18px;
}

#analysis-input > .close-btn:hover {
    border-color: #bf3835;
}

#analysis-input > .close-btn:active {
    background-color: #bf3835;
}

#work-page > p {
    color: #ffe7df;
}

#contacts-page {
    background-color: #2a2a2a;
    padding-bottom: 80px;
}

#contacts-page > p {
    margin-top: 32px;
    margin-bottom: 25px;
    color: #d0d0d0;
}

#email > input[type="email"]{
    width: 50%;
    text-align: left;
}

#email > input[type="email"]:invalid:active, #email > input[type="email"]:invalid:focus {
    border: 2px dashed red;
}

#email > input[type="submit"] {
    color: white;
    font-weight: bold;
    font-size: 16px;
    width: 8rem;
    margin-top: 5px;
    background-color: #2a2a2a;
}

#email > input[type="submit"]:active {
    background-color: #333232;
}

#contacts-page input {
    margin-bottom: 20px;
    font-size: large;
    padding: 10px 20px 10px 20px;
}

#copyright-page {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #515151;
    font-size: small;
    color: #d0d0d0;
}

@media only screen and (min-width: 768px) {
    #works {
        grid-template-columns: 18vw 18vw 18vw 18vw;
        grid-template-rows: 18vw 18vw;
        grid-auto-flow: row;
    }

    #works > div {
        width: 18vw;
        height: 18vw;
    }

    #analysis-input {
        width: 40%;
    }

    #analysis-input > button, #analysis-input > form > input[type="submit"] {
        width: 40%;
    }
}

@media only screen and (max-width: 430px){
    #analysis-input {
        padding: 12px 12px 12px 12px !important;
    }

    h2 {
        font-size: small;
        hyphens: auto;
    }

    p {
        font-size: smaller;
        hyphens: auto;
    }
}

@media only screen and (max-width: 320px) {
    #works > div > img[src="img/icon7.png"] {
        width: 18px !important;
        height: 18px !important;
    }
    
    #analysis-input > form > input, #analysis-input > form > input::placeholder {
        font-size: smaller !important;
    }
}